<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ's @ work</title>
    <style>
        body {
            background-color: #0a260a;;
        }
        h1, h3, p, body {
            color: rgb(244, 244, 48);
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h1>Image Gallery of you and us @ Work</h1>
        <div class="image-grid">
            {% for image in images %}
            <img src="Rave.jpg" alt="Rave vibes" style="width: 100%; position: fixed;">
            <img src="IBIZA spain.jpeg" alt="Spanish madness " style="width: 100%; position: fixed;">
            <img src="deep in the city.jpg" alt="People feeling the mix" style="width: 100%; position: fixed;">
            <img src="KONKA.jpg" alt="Drinks girls" style="width: 100%; position: fixed;">
            <img src="KONKA behind the scenes.png" alt="Behind the scenes" style="width: 100%; position: fixed;">
            {% endfor %}
        </div>
    {% endblock %}
</body>